<mat-drawer-container color="accent" class="container">
  <mat-toolbar class="toolbar-background app-toolbar">
    <!-- <div clas="menu-toolbar"> -->
    <span routerLink="/" class="title">SmartHears</span>
    <span class="example-spacer"></span>
    <div class="menu-button" routerLink="/library">
      <mat-icon class="icon">favorite</mat-icon>
      <span>Mes packs de voix</span>
    </div>
    <div class="menu-button" routerLink="/settings">
      <mat-icon class="icon">settings</mat-icon>
      <span>Paramètres</span>
    </div>
    <div class="menu-button" routerLink="/contact">
      <mat-icon class="icon">contact_phone</mat-icon>
      <span>Contact</span>
    </div>
    <div class="menu-button" routerLink="/profil">
      <mat-icon class="icon">account_circle</mat-icon>
      <span>Profil</span>
    </div>
  <!-- </div> -->
  </mat-toolbar>
  <div class="line"></div>
  <router-outlet></router-outlet>
</mat-drawer-container>
