<div class="container">
    <h1>Smarthears</h1>
    <div class="left-block" data-aos="fade-right">
        <img class="img" [src]="'https://picsum.photos/600/400?random=1'">
        <span class="text">
            <h2>Une application</h2>
            {{text}}
        </span>
    </div>
    <div class="right-block" data-aos="fade-left">
        <span class="text">
            <h2>De l'innovation</h2>
            {{text}}
        </span>
        <img class="img" [src]="'https://picsum.photos/600/400?random=2'">
    </div>
    <div class="left-block" data-aos="fade-right">
        <img class="img" [src]="'https://picsum.photos/600/400?random=3'">
        <span class="text">
            <h2>Pour tous les malentendants</h2>
            {{text}}
        </span>
    </div>
    <div class="right-block" data-aos="fade-left">
        <span class="text">
            <h2>Une solution pour les professionels et particuliés</h2>
            {{text}}
        </span>
        <img class="img" [src]="'https://picsum.photos/600/400?random=4'">
    </div>
    <div class="left-block" data-aos="fade-right">
        <img class="img" [src]="'https://picsum.photos/600/400?random=5'">
        <span class="text">
            <h2>Un projet français</h2>
            {{text}}
        </span>
    </div>
    <div class="right-block" data-aos="fade-left">
        <span class="text">
            <h2>Rejoindre notre équipe</h2>
            {{text}}
        </span>
        <img class="img" [src]="'https://picsum.photos/600/400?random=6'">
    </div>
    <div>
        <button mat-raised-button color="primary" routerLink="/library">
           <mat-icon class="icon">more</mat-icon>
           <span>En savoir +</span>
       </button>
    </div>
    <!-- material button -->
</div>
